@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

@layer components {
    .card {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 100px;
    }
}